BusTicketBookingSystem/Connected Services/DriversServiceReference/DriversService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DriversService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61125/DriversService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61125/DriversService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61125/DriversService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusTicketBookingSystem.Entities.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDriversService_GetAllDrivers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDrivers" />
  </wsdl:message>
  <wsdl:message name="IDriversService_GetAllDrivers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDriversResponse" />
  </wsdl:message>
  <wsdl:message name="IDriversService_GetDriverById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDriverById" />
  </wsdl:message>
  <wsdl:message name="IDriversService_GetDriverById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDriverByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDriversService_AddDriver_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDriver" />
  </wsdl:message>
  <wsdl:message name="IDriversService_AddDriver_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDriverResponse" />
  </wsdl:message>
  <wsdl:message name="IDriversService_UpdateDriver_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDriver" />
  </wsdl:message>
  <wsdl:message name="IDriversService_UpdateDriver_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDriverResponse" />
  </wsdl:message>
  <wsdl:message name="IDriversService_DeleteDriverById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDriverById" />
  </wsdl:message>
  <wsdl:message name="IDriversService_DeleteDriverById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDriverByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IDriversService">
    <wsdl:operation name="GetAllDrivers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriversService/GetAllDrivers" message="tns:IDriversService_GetAllDrivers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriversService/GetAllDriversResponse" message="tns:IDriversService_GetAllDrivers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDriverById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriversService/GetDriverById" message="tns:IDriversService_GetDriverById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriversService/GetDriverByIdResponse" message="tns:IDriversService_GetDriverById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDriver">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriversService/AddDriver" message="tns:IDriversService_AddDriver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriversService/AddDriverResponse" message="tns:IDriversService_AddDriver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDriver">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriversService/UpdateDriver" message="tns:IDriversService_UpdateDriver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriversService/UpdateDriverResponse" message="tns:IDriversService_UpdateDriver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDriverById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriversService/DeleteDriverById" message="tns:IDriversService_DeleteDriverById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriversService/DeleteDriverByIdResponse" message="tns:IDriversService_DeleteDriverById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDriversService" type="tns:IDriversService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllDrivers">
      <soap:operation soapAction="http://tempuri.org/IDriversService/GetAllDrivers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDriverById">
      <soap:operation soapAction="http://tempuri.org/IDriversService/GetDriverById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDriver">
      <soap:operation soapAction="http://tempuri.org/IDriversService/AddDriver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDriver">
      <soap:operation soapAction="http://tempuri.org/IDriversService/UpdateDriver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDriverById">
      <soap:operation soapAction="http://tempuri.org/IDriversService/DeleteDriverById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DriversService">
    <wsdl:port name="BasicHttpBinding_IDriversService" binding="tns:BasicHttpBinding_IDriversService">
      <soap:address location="http://localhost:61125/DriversService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>