BusTicketBookingSystem/Connected Services/PassengersServiceReference/PassengersService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PassengersService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61125/PassengersService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61125/PassengersService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61125/PassengersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusTicketBookingSystem.Entities.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPassengersService_GetAllPassengers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPassengers" />
  </wsdl:message>
  <wsdl:message name="IPassengersService_GetAllPassengers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPassengersResponse" />
  </wsdl:message>
  <wsdl:message name="IPassengersService_GetPassengerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPassengerById" />
  </wsdl:message>
  <wsdl:message name="IPassengersService_GetPassengerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPassengerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPassengersService_AddPassenger_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPassenger" />
  </wsdl:message>
  <wsdl:message name="IPassengersService_AddPassenger_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPassengerResponse" />
  </wsdl:message>
  <wsdl:message name="IPassengersService_UpdatePassenger_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassenger" />
  </wsdl:message>
  <wsdl:message name="IPassengersService_UpdatePassenger_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassengerResponse" />
  </wsdl:message>
  <wsdl:message name="IPassengersService_DeletePassengerById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePassengerById" />
  </wsdl:message>
  <wsdl:message name="IPassengersService_DeletePassengerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePassengerByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IPassengersService">
    <wsdl:operation name="GetAllPassengers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassengersService/GetAllPassengers" message="tns:IPassengersService_GetAllPassengers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassengersService/GetAllPassengersResponse" message="tns:IPassengersService_GetAllPassengers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPassengerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassengersService/GetPassengerById" message="tns:IPassengersService_GetPassengerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassengersService/GetPassengerByIdResponse" message="tns:IPassengersService_GetPassengerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPassenger">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassengersService/AddPassenger" message="tns:IPassengersService_AddPassenger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassengersService/AddPassengerResponse" message="tns:IPassengersService_AddPassenger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassenger">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassengersService/UpdatePassenger" message="tns:IPassengersService_UpdatePassenger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassengersService/UpdatePassengerResponse" message="tns:IPassengersService_UpdatePassenger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePassengerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassengersService/DeletePassengerById" message="tns:IPassengersService_DeletePassengerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassengersService/DeletePassengerByIdResponse" message="tns:IPassengersService_DeletePassengerById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPassengersService" type="tns:IPassengersService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPassengers">
      <soap:operation soapAction="http://tempuri.org/IPassengersService/GetAllPassengers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPassengerById">
      <soap:operation soapAction="http://tempuri.org/IPassengersService/GetPassengerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPassenger">
      <soap:operation soapAction="http://tempuri.org/IPassengersService/AddPassenger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassenger">
      <soap:operation soapAction="http://tempuri.org/IPassengersService/UpdatePassenger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePassengerById">
      <soap:operation soapAction="http://tempuri.org/IPassengersService/DeletePassengerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PassengersService">
    <wsdl:port name="BasicHttpBinding_IPassengersService" binding="tns:BasicHttpBinding_IPassengersService">
      <soap:address location="http://localhost:61125/PassengersService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>